/* Warm Up Challenges 

1: Target only the last item in the list and make it stand out.

2: Style links differently when hovered and when focused (keyboard).

3: Style all buttons except the “primary” button.

  (Bonus): Add spacing between all items in .stack except the first.

*/ 


